@charset "UTF-8";

:root {
    --background: rgb(24, 24, 25);
    --font-color: rgb(255, 255, 255);
}

.container {
    width: min(100% - 60px, 1080px);
    margin-inline: auto;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background-color: var(--background);
    font-family: "Inter", Arial, sans-serif;
    color: var(--font-color);
}

/*Main*/
main {
    height: 100dvh;
}

.main-box {
    width: 720px;
    height: 480px;
    background-color: rgba(255, 255, 255, 0.068);
    display: grid;
    border: 1px solid rgba(255, 255, 255, 0.021);
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    border-radius: 4px;
    padding: 10px;
    transform: scaleY(-1);
    transform-origin: center;
}

.square {
    border-radius: 6px;
    cursor: pointer;
}
.circle {
    border-radius: 50%;
    cursor: pointer;
}

h1 {
    font-size: 100xp;
    font-weight: 400;
    line-height: 1;
}

form {
    margin: 32px 0;
    width: 720px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

p {
    padding-top: 15px;
    font-weight: 300;
    visibility: hidden;
}

select {
    background-color: rgba(255, 255, 255, 0.068);
    border: 1px solid rgba(255, 255, 255, 0.021);
    width: 40%;
    border-radius: 6px;
    color: rgb(255, 255, 255);
    padding: 0 8px;
}

select option {
    background-color: rgba(255, 255, 255, 0.068);
    color: #000000;
}

button {
    width: 16%;
    border-radius: 6px;
    background-color: #FF7B00;
    color: #fff;
    transition-duration: 0.2s;
}

button:hover {
    background-color: #f78d2a;
}

button:focus {
    background-color: #da6900;
}

